/* ============================================================
   Olmo — Webfonts (alojadas en el proyecto)
   Logo:    Cal Sans — wordmark únicamente.
   UI/body: Inter, pesos estáticos 200–700.
   Acento:  Source Serif 4 ITÁLICA, 200–400.
   Estáticas (no variables) a propósito: Chrome incrusta las
   variables como Type3 sin nombre y el PDF pierde la tipografía
   verificable. Licencia SIL OFL 1.1 (ver LICENSE-*.txt).
   ============================================================ */

@font-face { font-family: "Cal Sans"; src: url("../fonts/CalSans-Regular.ttf") format("truetype"); font-weight: 400 700; font-style: normal; font-display: block; }
@font-face { font-family: "Inter"; src: url("../fonts/inter-latin-200-normal.woff2") format("woff2"); font-weight: 200; font-style: normal; font-display: block; }
@font-face { font-family: "Inter"; src: url("../fonts/inter-latin-300-normal.woff2") format("woff2"); font-weight: 300; font-style: normal; font-display: block; }
@font-face { font-family: "Inter"; src: url("../fonts/inter-latin-400-normal.woff2") format("woff2"); font-weight: 400; font-style: normal; font-display: block; }
@font-face { font-family: "Inter"; src: url("../fonts/inter-latin-500-normal.woff2") format("woff2"); font-weight: 500; font-style: normal; font-display: block; }
@font-face { font-family: "Inter"; src: url("../fonts/inter-latin-600-normal.woff2") format("woff2"); font-weight: 600; font-style: normal; font-display: block; }
@font-face { font-family: "Inter"; src: url("../fonts/inter-latin-700-normal.woff2") format("woff2"); font-weight: 700; font-style: normal; font-display: block; }
@font-face { font-family: "Source Serif 4"; src: url("../fonts/source-serif-4-latin-200-italic.woff2") format("woff2"); font-weight: 200; font-style: italic; font-display: block; }
@font-face { font-family: "Source Serif 4"; src: url("../fonts/source-serif-4-latin-300-italic.woff2") format("woff2"); font-weight: 300; font-style: italic; font-display: block; }
@font-face { font-family: "Source Serif 4"; src: url("../fonts/source-serif-4-latin-400-italic.woff2") format("woff2"); font-weight: 400; font-style: italic; font-display: block; }
